@import "colors";

$grid_system: repeat(11, 1fr);

* {
	margin: 0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;

	&:focus-visible {
		outline: none;
	}

}
