@import "./../../../scss/colors";
@import "./../../../scss/media-queries-scss-mixins";

$grid_system: repeat(11, 1fr);

.mel{
	&-container {
		background: $color-light;
		min-height: 100vh;
		display: grid;
		grid-template-columns: $grid_system;
		grid-template-rows: 50px max-content max-content;
		@include gt-md {
			grid-template-columns: 1fr 1050px 1fr;
		}
	}

	&-header {
		background: $color-yellow;
		grid-column-start: 1;
		grid-column-end: 12;
		display: grid;
		grid-template-columns: $grid_system;
		grid-gap: 0px 0px;
		@include gt-md {
			grid-template-columns: 1fr 1050px 1fr;
		}
		
		nav {
			grid-column-start: 2;
			grid-column-end: 11;
			display: flex;
			height: 39px;
			grid-row: none;
			
			@include gt-md {
				grid-column-start: 2;
				grid-column-end: 2;
			}

			.logo{
				width: 60px;
			}

			.input-group{
				display: table;
				border-collapse: collapse;
				width:100%;
				margin-left: 1rem;

				& > div{
					display: table-cell;
					vertical-align: middle;  /* needed for Safari */
				}

				.input-group-icon{
					background:$color-light;
					padding: 0 12px;
					cursor: pointer;
					border-radius: 4px;
					border-end-start-radius: 0px;
					border-start-start-radius: 0px;
					border: 0px;
    			height: 39px;

					img{
						width: 20px;
						margin-top: 8px;
					}
				}

				.input-group-area{
					width:100%;
				}

				input {
					border: 0;
					display: block;
					width: 100%;
					padding: 7px 60px 9px 15px;
					font-size: 18px;
    			height: 39px;
					border-radius: 4px;
					border-end-end-radius: 0px;
					border-start-end-radius: 0px;
				}

			}
		}
	}

	&-breadcrumbs{
		grid-column-start: 2;
		grid-column-end: 11;
		margin: 16px 0 16px 0;
		color: $color-muted;
		font-size: 14px;
	}

	&-main-content {
		background: $color-white;
		grid-column-start: 2;
		grid-column-end: 11;
		border-radius: 4px;
		margin-bottom: 32px;
		@include gt-md {
			grid-column-start: 2;
			grid-column-end: 2;
		}

		.mel-msg-info {
			color: $color-gray;
			margin: 16px;
			display: block;
		}
	}
}

@media only screen and (min-width: 1200px){

}
